.section {
  position: relative;
  width: 100%;
  border-bottom: 2px solid rgba(138, 43, 226, 0.5);
  overflow: hidden;
}

.container {
  height: 560px;
  z-index: 10;
  width: 100%;
  position: relative;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.wrapper {
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
}

.box {
  height: auto;

  padding: 0 2.4rem 0 calc(2.4rem + 6px);
  border-radius: 50px;
  border: 1px solid rgba(57, 3, 79, 0.778);
  background: #ffffff03;
  box-shadow: 0 8px 32px #1f268726;
  backdrop-filter: blur(15px);
}

.subtitle {
}

.text {
}

.wrapperButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 300px;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(90deg, #008c45, #f4f5f0, #cd212a);
  cursor: pointer;
}
