.section {
  position: relative;
  width: 100%;
  border-bottom: 2px solid rgba(138, 43, 226, 0.5);
  overflow: hidden;
}

.container {
  width: 100%;
  height: 700px;
  position: relative;
  z-index: 10;
}

.content {
  position: relative;
  z-index: 10; /* поверх canvas */
  color: white; /* щоб було видно на фоні */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  font-size: 74px;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  letter-spacing: 1px;
}

.sab {
}

.text {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 0 2.4rem 0 calc(2.4rem + 6px);
  border-radius: 50px;
  border: 1px solid rgba(57, 3, 79, 0.778);
  background: #ffffff03;
  box-shadow: 0 8px 32px #1f268726;
  backdrop-filter: blur(15px);
  margin-top: 40px;
  margin-bottom: 40px;
}

.buttonHero {
  width: 200px;
  margin-right: 100px;
}
