.section {
  position: relative;
  width: 100%;
  border-bottom: 2px solid rgba(138, 43, 226, 0.5);
  overflow: hidden;
}

.container {
  width: 100%;
  height: 470px;
  position: relative;
  z-index: 10;
}

.content {
  position: relative;
  z-index: 10;
  color: rgb(8, 4, 14);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;

  background: linear-gradient(90deg, #008c45, #f4f5f0, #cd212a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  animation: fadeUp 1.5s ease-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 0 2.4rem 0 calc(2.4rem + 6px);
  border-radius: 50px;
  border: 1px solid rgba(57, 3, 79, 0.778);
  background: #ffffff03;
  box-shadow: 0 8px 32px #1f268726;
  backdrop-filter: blur(15px);
  margin-top: 5px;
  margin-bottom: 12px;
}

.maria {
  display: none;
}

.buttonHero {
  margin-top: 12px;
  width: 300px;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(90deg, #008c45, #f4f5f0, #cd212a);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 74px;
    font-family: "Playfair Display", serif;
    font-weight: normal;
    letter-spacing: 1px;
  }

  .text {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 0 2.4rem 0 calc(2.4rem + 6px);
    border-radius: 50px;
    border: 1px solid rgba(57, 3, 79, 0.778);
    background: #ffffff03;
    box-shadow: 0 8px 32px #1f268726;
    backdrop-filter: blur(15px);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .buttonHero {
    width: 200px;
    margin-right: 100px;
  }
}

@media only screen and (min-width: 1220px) {
}
