.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* фон тягнеться на всю ширину */
  background: transparent; /* або твій фон */
  z-index: 1000;
  padding: 1rem 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0 20px;

  background: transparent; /* прозорий фон */
  /* легке розмиття фону (опціонально) */
  z-index: 1000; /* завжди зверху */

  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 3rem;
}

.logo {
  position: relative;
  z-index: 100; /* поверх canvas */
  display: flex;
  align-items: center;
}

.companyName {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;

  /* ефект світіння для краси */
  text-shadow: 0 0 10px rgba(162, 97, 255, 0.6);
  border-bottom: 1px solid rgba(138, 43, 226, 0.5);
  font-family: "Fjalla One", sans-serif;
  padding-bottom: 5px;
}

.imeg * {
  margin-left: 4px;
  margin-top: 4px;
  fill: #fff;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 2.4rem 0 calc(2.4rem + 6px);
  border-radius: 50px;
  border: 1px solid rgba(57, 3, 79, 0.778);
  background: #ffffff03;
  box-shadow: 0 8px 32px #1f268726;
  backdrop-filter: blur(15px);
}

.nav a {
  margin-left: 16px;
  text-decoration: none;
  color: #fff;
}

.contNav {
}

button {
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 100%
  );
  height: 40px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: 0.2s 0.1s;
  background-image: linear-gradient(90deg, #28285a, #6220fb);
  border: 0 solid;
  overflow: hidden;
  width: 200px;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 600;
  color: #000;
  transition: all 0.1s ease-in;
  background-image: linear-gradient(90deg, #9472e1, #6220fb);
  padding-right: 32px;
  padding-left: 32px;
}

button:active {
  opacity: 0.5;
  transition: all 0s;
}
