.header {
  top: 0;
  max-width: 100%;
  z-index: 1000;
}

.container {
  width: auto;
  margin: 0 auto;
  padding: 12px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  z-index: 100; /* поверх canvas */
  display: flex;
  align-items: center;
}

.companyName {
  color: rgb(8, 4, 14);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;

  /* ефект світіння для краси */
  text-shadow: 0 0 10px rgba(162, 97, 255, 0.6);
  border-bottom: 1px solid rgba(138, 43, 226, 0.5);
  font-family: "Fjalla One", sans-serif;
  padding-bottom: 5px;
}

.imeg * {
  margin-left: 4px;
  margin-top: 4px;
  fill: rgb(8, 4, 14);
}
.nav {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%) translateY(-20px);
  opacity: 0;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px;
  width: 90%;

  border-radius: 20px;
  background: #ffffff08;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(138, 43, 226, 0.3);

  transition: all 0.3s ease;
  z-index: 300;
}

.nav a {
  color: rgb(8, 4, 14);
  text-decoration: none;
  font-size: 1rem;
}

.open {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.burger {
  background: none;
  border: none;
  color: rgb(8, 4, 14);
  cursor: pointer;
  z-index: 200;
}

@media only screen and (min-width: 768px) {
  .burger {
    display: none;
  }

  .nav {
    position: static;
    transform: none;
    opacity: 1;
    pointer-events: auto;

    flex-direction: row;
    gap: 24px;

    height: 60px;
    padding: 0 2.4rem;
    border-radius: 50px;
  }
}

@media only screen and (min-width: 1220px) {
}
