.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0 20px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent; /* прозорий фон */
  /* легке розмиття фону (опціонально) */
  z-index: 1000; /* завжди зверху */
  padding: 1rem 2rem;
}

.logo {
  position: relative;
  z-index: 100; /* поверх canvas */
}

.imeg * {
  margin-left: 4px;
  margin-top: 4px;
  fill: #fff;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 2.4rem 0 calc(2.4rem + 6px);
  border-radius: 50px;
  border: 1px solid rgba(57, 3, 79, 0.778);
  background: #ffffff03;
  box-shadow: 0 8px 32px #1f268726;
  backdrop-filter: blur(15px);
}

.nav a {
  margin-left: 16px;
  text-decoration: none;
  color: #fff;
}

.contNav {
}

button {
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 100%
  );
  height: 40px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: 0.2s 0.1s;
  background-image: linear-gradient(90deg, #28285a, #6220fb);
  border: 0 solid;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 600;
  color: #000;
  transition: all 0.1s ease-in;
  background-image: linear-gradient(90deg, #9472e1, #6220fb);
  padding-right: 32px;
  padding-left: 32px;
}

button:active {
  opacity: 0.5;
  transition: all 0s;
}
