.section {
  position: relative;
  width: 100%;
  border-bottom: 2px solid rgba(138, 43, 226, 0.5);
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 10;
  color: rgb(8, 4, 14);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
}

.wrapper {
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
}

.box {
  height: 300px;
  width: 250px;
  padding: 0 2.4rem 0 calc(2.4rem + 6px);
  border-radius: 50px;
  border: 1px solid rgba(57, 3, 79, 0.778);
  background: #ffffff03;
  box-shadow: 0 8px 32px #1f268726;
  backdrop-filter: blur(15px);
}
